{% extends "in_or_out/in_or_out_base.html" %}
{% load i18n %}

{% block content %}

<script type="text/javascript"> 
  function toggle(theform) { 
      document.getElementById("form1").style.display = "none"; 
      document.getElementById("form2").style.display = "none"; 
      document.getElementById(theform).style.display = "block"; 
  } 
  </script>

    <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 100%;
                  width: 100%;}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding: 15px; 
      background-color: #eee;
      height: 510px;
      overflow: scroll;
    }
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
    }
      #map {
        padding: 0px;
        width: auto;
        height: 510px;
      }

     </style>

    <div class="container-fluid">
      <div class="row content">
        <div class="col-sm-3 sidenav">
    <form role="form" name="myForm" action="/in_or_out/" method="post">{% csrf_token %}
        <input type="radio" name="myradio" value="2" onclick="toggle('form2');" checked="checked" />EΓΣΑ-87
        <input type="radio" name="myradio" value="1" onclick="toggle('form1');"/>WGS-84
        <br>
        <div id="form1" class="form-group"  style="display: none;">
          <label for="latitude">φ:</label>
          <input id="id_latitude" name="latitude" type="text" class="form-control"></input>
        
            <label for="longitude">λ:</label>
            <input id="id_longitude" name="longitude" type="text" class="form-control"></input>
        </div>

        <div id="form2" class="form-group">
          <label for="x">Χ:</label>
          <input id="id_x" name="x" type="text" class="form-control"></input>
   
          <label for="y">Υ:</label>
          <input id="id_y" name="y" type="text" class="form-control"></input>
        </div>

       <label>Επιλέξτε Επιφάνειες:</label>
       <input type="text" id="myInput" onkeyup="find_a_layer()" placeholder="Search..">

       <div class="checkbox">
          <label><input type="checkbox" class="check" id="checkAll"> Επιλογή όλων</label>
        </div> 

       <ul style="list-style-type:none; padding-left: 0;" id="myUL">
        
        <li><a href="#"><input type="checkbox" class="check" name="natura" value"">Natura 2000</a></li>
      
        <li><a href="#"><input type="checkbox" class="check" name = "oikismoi" value"">Οικισμοί Ν. Χανίων</a></li>
        <li><a href="#"><input type="checkbox" class="check" name = "anadas2015" value"">Αναδασμοί Ν.Ηρακλείου</a></li>
      
        <li><a href="#"><input type="checkbox" class="check" name = "anadas2015" value"">Αναδασμοί Ν.Ηρακλείου</a></li>
        <li><a href="#"><input type="checkbox" class="check" name = "anadasmoi" value"">Αναδασμοί Ν.Χανίων</a></li>
        <li><a href="#"><input type="checkbox" class="check" name = "arxaiologikoi_xwroi" value"">Αρχαιολογικοί Χώροι Ν.Χανίων</a></li>
        <li><a href="#"><input type="checkbox" class="check" name = "dianomi_gys_5000" value"">Διανομή ΓΥΣ 5000 Ν.Χανίων</a></li>
        <li><a href="#"><input type="checkbox" class="check" name = "nautiko_oxyro" value"">Ναυτικό Οχυρό Ν. Χανίων</a></li>
        <li><a href="#"><input type="checkbox" class="check" name = "praxeis_xar_2015"value"">Πράξεις Χ/σμού Ν.Ηρακλείου</a></li>
        <li><a href="#"><input type="checkbox" class="check" name = "sxooap_krousona" value"">ΣΧΟΟΑΠ Κρουσώνα</a></li>
      </ul>

    <input class="btn btn-primary" type="submit" onclick="srid_transform()" value="Εφαρμογή" />
    </form>
    </div>
    <div class="col-sm-7">
    <div id="map"></div>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" /> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.15/proj4.js"></script>
    <script>
    
    function find_a_layer() {
      // Declare variables
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById('myInput');
      filter = input.value.toUpperCase();
      ul = document.getElementById("myUL");
      li = ul.getElementsByTagName('li');

      // Loop through all list items, and hide those who don't match the search query
      for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = "";
        } else {
            li[i].style.display = "none";
            }
        } 
   }

     // EGSA-87 to WGS-84 transformation
     function srid_transform() {
      // var wgsProj = "+proj=longlat +ellps=WGS84 +datum=WGS84 +units=degrees +no_defs";
      var egsaProj = "+proj=tmerc +lat_0=0 +lon_0=24 +k=0.9996 +x_0=500000 +y_0=0 +ellps=GRS80 +towgs84=-199.87,74.79,246.62,0,0,0,0 +units=m +no_defs";
       
      // Get the values from the form (WGS84 and EGSA87)
      var lat = document.forms["myForm"]["latitude"].value;
      var lon = document.forms["myForm"]["longitude"].value;
      var x = document.forms["myForm"]["x"].value;
      var y = document.forms["myForm"]["y"].value;

      if ((lat == "" || lon == "") && (!x == "" && !y == "")) {
        src = new proj4.Proj(egsaProj);
        //Do the conversion 
        wgsCoords = proj4(src, proj4.WGS84, [x, y])

        lon = wgsCoords[0];
        lat = wgsCoords[1];
        document.getElementById('id_latitude').value = lat;
        document.getElementById('id_longitude').value = lon;
        }

      else if ((x == "" || y == "") && (!lat == "" && !lon == "")) {
         var egsaCoords = proj4(egsaProj, [lon, lat]);
         document.getElementById('id_x').value = lat;
         document.getElementById('id_y').value = lon;
      } 
      else if ((x == "" && y == "") && (lat == "" && lon == "")) {
        document.getElementById('id_latitude').value = 35.1333;
        document.getElementById('id_longitude').value = 25.0213;
        document.getElementById('id_x').value = 592897.04;
        document.getElementById('id_y').value = 3888014.16;
      }
    }

     $(document).ready(function() {
     // script to enable the choice of "check all"
     $("#checkAll").click(function () {
         $(".check").prop('checked', $(this).prop('checked'));
     });
     var rememberLat = document.getElementById('id_latitude').value;
     var rememberLong = document.getElementById('id_longitude').value;
     var rememberX = document.getElementById('id_x').value;
     var rememberY = document.getElementById('id_y').value;
     if( !rememberLat || !rememberLong || !rememberX || !rememberY ) { 
         rememberLat = 35.1333; 
         rememberLong = 25.0213;
         rememberX = 592897.04;
         rememberY = 3888014.16;
         }
     var tileLayer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
         attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> Contributors'
            });
     var map = new L.Map('map', {
             'center': [rememberLat, rememberLong],
             'zoom': 8,
             'layers': [tileLayer]
             });
     var marker = L.marker([rememberLat, rememberLong],{
         draggable: true
         }).addTo(map);
     marker.on('dragend', function (e) {
        updateLatLng(marker.getLatLng().lat, marker.getLatLng().lng);
         });
     map.on('click', function (e) {
        marker.setLatLng(e.latlng);
        updateLatLng(marker.getLatLng().lat, marker.getLatLng().lng);
        });
     function updateLatLng(lat,lng,reverse) {
            if(reverse) {
                marker.setLatLng([lat,lng]);
                map.panTo([lat,lng]);
             } else {
                  var egsaProj = "+proj=tmerc +lat_0=0 +lon_0=24 +k=0.9996 +x_0=500000 +y_0=0 +ellps=GRS80 +towgs84=-199.87,74.79,246.62,0,0,0,0 +units=m +no_defs";
                  var egsaCoords = proj4(egsaProj, [lng, lat]);
                  document.getElementById('id_latitude').value = marker.getLatLng().lat;
                  document.getElementById('id_longitude').value = marker.getLatLng().lng;
                  document.getElementById('id_x').value = egsaCoords[0];
                  document.getElementById('id_y').value = egsaCoords[1];
                  map.panTo([lat,lng]);
                  }       
         }
     
   });       
    </script>
  </div>
  <div class="col-sm-2 sidenav">
    <p>Επιλέξτε όσες από τις παρακάτω επιφάνειες επιθυμείτε και δείτε αν η τοποθεσία που σας ενδιαφέρει βρίσκεται εντός ή εκτός των περιοχών που επιλέξατε.</p>
    <p> Μετακινείστε το δείκτη που βρίσκεται στο χάρτη ώστε να εμφανιστούν οι αντίστοιχες συντεταγμένες στη φόρμα.</p>
    </div>

  </div>
</div>
{% endblock %}
