{% extends "in_or_out/in_or_out_base.html" %}
{% block content %}

  <style>
  .btn-primary {
     margin-bottom: 10px;
     }
 
  #mapid {
     height: 500px;
  }
  
  </style>
  
  <!-- Go back button -->
  <button onclick="goBack()" class="btn btn-primary" role="button">Διόρθωση Θέσης</button>
  <script>
    function goBack() {
      window.history.back();
    }
  </script>

  <!-- button in order to return to the first page or the app -->
  <a href="/in_or_out/" class="btn btn-primary" role="button">Νέα Θέση</a>
    {% load leaflet_tags %}
    {% leaflet_js %}
    {% leaflet_css %}
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

    {% leaflet_map "mapid" %}
   <script>
      var results = "<div class='container'>" +
                    "<table class='table'>" + 
                    "<thead>" +
                   "<tr>" +
                     "<th class='col-md-1'>Επιφάνεια</th>" +
                     "<th class='col-md-1'>Εντός / Εκτός</th>" +
                     "<th class='col-md-1'>Περιοχή</th>" +
                     "<th class='col-md-1'>Πλησιέστερη Περιοχή</th>" +
                     "<th class='col-md-1'>Πληροφορίες</th>" +
                   "</tr>" +
                   "</thead>" +
                   "<tbody>" +
                   "{% for r in results %}" +
                   "<tr>" +
                   "<td>{{ r.0 }}</td>" +
                   "<td>{{ r.1 }}</td>" +
                   "<td>{{ r.2 }}</td>" +
                   "<td>{{ r.3 }}</td>" +
                   "<td>{{ r.4 }}</td>" +
                   "</tr>"  +
                   "</tbody>" +
                   "{% endfor %}" +
                   "</table>" +
                   "</div>";
   
      // iterate over results python list through django template language 
     // var results = "{% for item in results %} <li>{{ item }}</li>{% endfor %}" 
      var longitude = {{ longitude }};
      var latitude = {{ latitude }};   
      
      // zoom to the location  
      var mymap = L.map('mapid', {
              'center': [latitude, longitude],
              'zoom': 10
              });

      L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> Contributors'
      }).addTo(mymap);
      
     var popup = L.popup()
         .setContent(results)
  
     // add a marker on the location of the user
      var marker = L.marker([latitude, longitude]).addTo(mymap);
      marker.bindPopup(popup, {
               maxWidth : 1000
             }).openPopup();
      
</script>
{% endblock %}
